.docs__sidebar {
	min-width: 280px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.content {
		position: sticky;
		top: 0px;

		.logo-container {
			display: flex;
			justify-content: center;
			cursor: pointer;
			padding: 2rem 1.5rem;

			.logo {
				font-size: 1.6rem;
				font-weight: 200;
				display: flex;
				align-items: center;
				gap: 1rem;

				.beta-indicator {
					font-family: var(--secondary-font-family);
					font-weight: bold;
					font-size: 0.8rem;
					background: var(--accent);
					padding: 0.2rem 0.8rem;
					border-radius: 30px;
				}
			}
		}

		nav {
			h3 {
				font-family: var(--secondary-font-family);
				font-weight: bold;
				padding: 0 0 0 1.5rem;
			}

			ul {
				padding: 0 0 0 1.5rem;

				.section__container {
					transition: all 0.2s ease-in-out;
					margin: 18px 0;

					.section__item {
						padding: 0.7rem 0;
						cursor: pointer;

						width: 100%;
						display: flex;
						align-items: center;
						gap: 0.5rem;

						button {
							border: 0;
							font-family: var(--secondary-font-family);
							cursor: pointer;
							background: transparent;
							text-align: left;
							font-weight: 400;
							font-size: 1rem;
						}

						.arrow__icon-container {
							display: flex;
							align-items: center;
							padding: 0 0 0 0.5rem;

							.icon {
								transition: all 0.2s ease-in-out;
								width: 15px;
							}
						}

						&.closed {
							button {
								background: transparent;
								border: 0;
								color: var(--disabled-text);
							}

							.arrow__icon-container {
								.icon {
									transform: rotate(-90deg);
								}
							}
						}
					}

					.component__item {
						padding: 0.5rem 0 0.5rem 1.5rem;
						display: flex;
						align-items: center;
						gap: 1rem;

						.list-disc {
							background-color: #636465;
							border-radius: 50%;
							width: 5px;
							height: 5px;
						}

						a {
							cursor: pointer;
							font-family: var(--secondary-font-family);
							font-weight: 500;
							color: #9ba1a6;
						}

						&.active {
							a {
								color: var(--text-color);
							}
						}
					}
				}
			}
		}
	}
}
