@mixin properties() {
	--background: #000;
	--secondary-background: #16181a;
	--accent: #169ab7;
	--accent-hover: #08bce3;
	--accent-active: #106679;
	--text-color: #f2ecff;

	// accents
	--success: #4caf50;
	--text-sucess: #1b5e20;
	--info: #0288d1;
	--text-info: #034a81;
	--error: #ef5350;
	--text-error: #7a0303;
	--warning: #ff9800;
	--text-warning: #ed6c02;

	// UTILS
	--acent-border-radius: 9999px;
	--input-border-radius: 0.75rem;
	--card-border-radius: 14px;
	--border-width: 3px;
	--disabled-text: #666;
}
