.essential__copyable-code {
	background: var(--secondary-background);
	border-radius: var(--card-border-radius);
	display: flex;
	flex-direction: column;
	max-height: 350px;
	position: relative;
	padding: 1rem 0;

	.title {
		background: var(--secondary-background);
		display: flex;
		padding: 0.5rem 1rem;
		width: -moz-fit-content;
		width: fit-content;

		h4 {
			color: var(--accent-active);
			font-family: var(--secondary-font-family);
			font-size: 0.95rem;
			font-weight: 500;
		}
	}

	.content {
		background: var(--secondary-background);
		border-radius: var(--card-border-radius);
		white-space: pre;
		max-height: 350px;
		overflow-y: auto;
		font-size: 0.95rem;

		padding: 0 1.5rem;

		display: grid;
		grid-template-columns: calc(100% - 24px) 24px;

		.icon {
			position: absolute;
			top: 0.8rem;
			right: 1rem;

			width: 20px;
			cursor: pointer;
			transition: transform 0.1s ease-out;

			&:hover {
				transform: scale(1.1);
			}
			&:active {
				transform: scale(0.9);
			}
		}
	}
}
