$tablet-breakpoint: 768px;

.layout {
	height: 100%;
	min-height: 100vh;
	display: grid;

	.home__main-layout {
		transition: all 0.2s ease-in-out;
		display: flow-root;
		height: 100%;
		width: 100%;
		position: relative;
	}
}

@media (max-width: $tablet-breakpoint) {
	.layout {
		.essential__toasts {
			top: 2rem;
			right: 0px;
			bottom: unset !important;
			left: unset !important;

			display: grid;
			justify-content: center;
		}
	}
}
