$tablet-breakpoint: 768px;

.first-blob {
	fill: var(--first-blob-color);
	bottom: -200px;
	right: -200px;

	width: 700px;
	height: 700px;
}

.second-blob {
	fill: var(--second-blob-color);
	top: -200px;
	left: -100px;

	width: 600px;
	height: 600px;
}

.third-blob {
	fill: var(--third-blob-color);
	top: 50px;
	left: 100px;
}

.four-blob {
	fill: var(--four-blob-color);
	top: -100px;
	right: -100px;

	width: 300px;
	height: 300px;
}

.blob {
	filter: blur(8rem);

	position: fixed;
	opacity: 0.7;
	transition: all 0.2s ease-in-out;
}

@media (max-width: $tablet-breakpoint) {
	.blob {
		display: none;
	}
}
