.essential__dropdown {
	margin: 0;
	background: var(--secondary-background);
	display: grid;
	gap: 0;

	.title__element {
		cursor: pointer;
		padding: 1rem 2rem;
		display: grid;
		grid-template-columns: calc(100% - 24px) 24px;
		align-items: center;

		h6 {
			font-size: 1.5rem;
		}

		.icon {
			transition: all 0.3s ease-in-out;
		}

		&.open {
			.icon {
				transform: rotate(90deg);
			}
		}
	}

	.content {
		padding: 1rem 2rem 1rem 2rem;
	}
}
