$font-family: var(--font-family);
$text-color: var(--text-color);

$background: var(--background);
$secondary-background: var(--secondary-background);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);

$success: var(--success);
$warning: var(--warning);
$error: var(--error);
