.layout {
	height: 100%;
	min-height: 100vh;
	display: grid;

	// .sidebar.open ~ main {
	// }

	main {
		transition: all 0.2s ease-in-out;
		padding: 0 2rem 5rem 2rem;
		display: flow-root;
		height: 100%;
		width: 100%;
	}
}
