.layout {
	height: 100%;
	min-height: 100vh;
	display: flex;

	.main__contant {
		transition: all 0.2s ease-in-out;
		width: calc(100% - 280px);
		padding: 0 2rem 2rem 2rem;
		display: flow-root;
		height: 100%;
		width: 100%;
	}
}
