.essential__button {
	border-radius: var(--buttons-border-radius);
	padding: 0.5rem 2rem;
	cursor: pointer;
	border: 3px solid transparent;
	font-weight: 500;
	font-family: var(--secondary-font-family);
	transition: all 0.2s ease-out;
	display: flex;
	align-items: center;
	gap: 0.5rem;

	&.default {
		background: var(--accent);

		&.shadow {
			box-shadow: 0 4px 14px 0 var(--accent);

			&:hover {
				box-shadow: 0 4px 14px 0 var(--accent-hover);
			}

			&:active {
				box-shadow: 0 4px 14px 0 var(--accent-active);
			}
		}
	}

	&:hover {
		background: var(--accent-hover);
	}

	&:active {
		background: var(--accent-active);
	}

	&.bordered {
		background: transparent;
		border: 3px solid var(--accent);
		box-shadow: none;

		&:hover {
			background: var(--accent);
			border: 3px solid transparent;

			&.shadow {
				box-shadow: 0 4px 14px 0 var(--accent-active);
			}
		}

		&:active {
			background: var(--accent-active);
		}
	}

	&:disabled {
		cursor: not-allowed;
		border: 0;
		background: var(--secondary-background);
		color: var(--disabled-text);
		box-shadow: none;
	}

	&.success {
		background: var(--success);

		&.bordered {
			background: transparent;
			border: 3px solid var(--success);
			box-shadow: none;

			&:hover {
				background: var(--success);
				border: 3px solid transparent;

				&.shadow {
					box-shadow: 0 4px 14px 0 var(--success);
				}
			}

			&:active {
				background: var(--success);

				&.shadow {
					box-shadow: none;
				}
			}
		}
		&.shadow {
			box-shadow: 0 4px 14px 0 var(--success);

			&:hover {
				background: var(--text-success);
			}
		}

		&:hover {
			background: var(--text-success);
		}

		&:active {
			background: var(--success);
			box-shadow: none;
		}
	}

	&.info {
		background: var(--info);

		&.bordered {
			border: 3px soli;
			background: transparent;
			border: 3px solid var(--info);
			box-shadow: none;

			&:hover {
				background: var(--info);
				border: 3px solid transparent;

				&.shadow {
					box-shadow: 0 4px 14px 0 var(--info);
				}
			}

			&:active {
				background: var(--info);

				&.shadow {
					box-shadow: none;
				}
			}
		}
		&.shadow {
			box-shadow: 0 4px 14px 0 var(--info);

			&:hover {
				background: var(--text-info);
			}
		}

		&:hover {
			background: var(--text-info);
		}

		&:active {
			background: var(--info);
			box-shadow: none;
		}
	}

	&.error {
		background: var(--error);

		&.bordered {
			border: 3px soli;
			background: transparent;
			border: 3px solid var(--error);
			box-shadow: none;

			&:hover {
				background: var(--error);
				border: 3px solid transparent;

				&.shadow {
					box-shadow: 0 4px 14px 0 var(--error);
				}
			}

			&:active {
				background: var(--error);

				&.shadow {
					box-shadow: none;
				}
			}
		}
		&.shadow {
			box-shadow: 0 4px 14px 0 var(--error);

			&:hover {
				background: var(--text-error);
			}
		}

		&:hover {
			background: var(--text-error);
		}

		&:active {
			background: var(--error);
			box-shadow: none;
		}
	}

	&.warning {
		background: var(--warning);

		&.bordered {
			border: 3px soli;
			background: transparent;
			border: 3px solid var(--warning);
			box-shadow: none;

			&:hover {
				background: var(--warning);
				border: 3px solid transparent;

				&.shadow {
					box-shadow: 0 4px 14px 0 var(--warning);
				}
			}

			&:active {
				background: var(--warning);
				&.shadow {
					box-shadow: none;
				}
			}
		}
		&.shadow {
			box-shadow: 0 4px 14px 0 var(--warning);

			&:hover {
				background: var(--text-warning);
			}
		}

		&:hover {
			background: var(--text-warning);
		}

		&:active {
			background: var(--warning);
			box-shadow: none;
		}
	}
}
