.d-flex {
	display: flex;

	&.align-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}

	&.gap-1 {
		gap: 1rem;
	}

	&.wrap {
		flex-wrap: wrap;
	}

	&.flex-column {
		flex-direction: column;
	}
}
