.essential__input,
.essential__textarea {
	border-radius: var(--input-border-radius);
	border: var(--border-width) solid var(--accent);
	position: relative;
	display: grid;
	width: 100%;

	label {
		color: var(--disabled);
		font-size: 0.95rem;
		position: absolute;
		left: 0.8rem;

		transition: all 0.2s ease-out;
		transform: translateY(0.6rem);
	}

	input,
	textarea {
		background: var(--background);
		border-radius: var(--input-border-radius);
		outline: transparent;
		font-size: 1rem;
		border: 0;

		padding: 0.6rem 0.8rem;

		&:focus ~ label {
			color: var(--text-color);
			font-size: 0.8rem;
			transform: translateY(-1.4rem);
		}

		&:not(:focus)::placeholder {
			color: transparent;
		}

		&:not(:placeholder-shown) ~ label {
			color: var(--text-color);
			font-size: 0.8rem;
			transform: translateY(-1.4rem);
		}
	}
}
