.essential__validate-input {
	position: relative;

	&.wrong {
		.error-message {
			transform: translateY(0);
			font-size: 0.8rem;
		}
	}

	.essential__input {
		z-index: 2;
	}

	.error-message {
		color: var(--error);
		position: absolute;
		transform: translateY(-2rem);
		transition: all 0.2s ease-out;
		left: 1rem;
	}
}
